<div class="container d-flex justify-content-center">
  <div class="card p-3 mt-3">
    <div class="first">
      <div
        class="
          time
          d-flex
          flex-row
          align-items-center
          justify-content-between
          mt-3
        "
      ></div>
    </div>
    <div class="second d-flex flex-row mt-2">
      <div class="image mr-3">
        <img
          src="{{ member.photoUrl || './assets/default-avatar.jpg' }}"
          alt="{{ member.knownAs }}"
          class="rounded-circle"
          width="60"
        />
      </div>
      <div class="">
        <div class="d-flex flex-row mb-1">
          <a routerLink="/members/{{ member.username }}"
            >@{{ member.username }}</a
          >
          <div class="d-flex align-items-center">
            <span
              class="is-online ml-1"
              *ngIf="(presence.onlineUsers$ | async)?.includes(member.username)"
              ><i class="fa fa-user mr-2"></i
            ></span>
            <span
              class="hour ml-1"
              *ngIf="
                !(presence.onlineUsers$ | async)?.includes(member.username)
              "
              ><i class="fa fa-clock-o clock"></i>
              {{ member.lastActive | timeago }}</span
            >
          </div>
        </div>
        <div>
          <button
            (click)="addLike(member)"
            class="btn btn-outline-dark btn-sm px-2"
          >
            <i class="fa fa-heart"></i>
          </button>
          <button
            routerLink="/members/{{ member.username }}"
            class="btn btn-outline-dark btn-sm"
          >
            See Profile
          </button>
          <button
            routerLink="/members/{{ member.username }}"
            [queryParams]="{ tab: 3 }"
            class="btn btn-outline-dark btn-sm"
          >
            <i class="fa fa-comment-o"></i>
          </button>
        </div>
      </div>
    </div>
    <hr class="line-color" />
    <h6>{{ member.knownAs }}, {{ member.age }}</h6>
  </div>
</div>
