<div class="modal-header">
  <h4 class="modal-title pull-left">Calling...</h4>
</div>
<div class="modal-body">
  <div class="col text-center">
    <div id="video-wrapper">
      <video
        #remoteVideo
        id="remote-video"
        poster="./assets/video-placeholder.gif"
        autoplay
        playsinline
      ></video>
      <video
        #localVideo
        id="local-video"
        autoplay
        playsinline
        [muted]="true"
      ></video>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" (click)="endCall()">End Call</button>
</div>
<!--     [disabled]="!(this.callService.isCallStarted$ | async)" -->
